<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <p1 -->
    <style>
   .title {
    text-align:  center;
   }

  </style>
    <style> .vimeo {
    text-align:  center;
   }</style>
</head>

<body>
    <h1 class='title'>VimeoVide {{name}}</h1>
    <h2 class='title'>FWQ2021</h2>
    <h3 class='title'>Example of site work with vimeo</h3>
    <p class='vimeo'><iframe src="https://player.vimeo.com/video/535650264"
    width="640" height="298" frameborder="0" allow="autoplay; fullscreen;
    picture-in-picture" allowfullscreen></iframe>

<!--    <p class='vimeo'><iframe src="https://player.vimeo.com/video/535464304"-->
<!--    width="640" height="298" frameborder="0" allow="autoplay;-->
<!--    fullscreen; picture-in-picture" allowfullscreen></iframe>-->
</body>
</html>